@media(max-width: 1400px) {
    .header__poster {
        margin: 0;
    }

    .header__nav-content {
        justify-content: center;
    }
}

@media(max-width: 1200px) {
    .header__nav-content {
        flex-wrap: wrap;
        margin-top: 15px;
    }

    .header__poster {
        margin-top: 15px;
    }

    .header__img-box {
        flex-wrap: wrap;
    }
}

@media(max-width: 992px) {
    .header__nav-1 {
        flex-wrap: wrap;
        justify-content: center;
    }
    .header__nav-list{
        margin-top: 20px;
    }

}

@media(max-width: 768px) {
    .header__nav-list {
        column-gap: 15px;
        margin-top: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .header__nav-logo {
        margin: 0;
    }

    .header__info-2 {
        margin-left: 0;
        flex-wrap: wrap;
        justify-content: center;
        padding: 60px;
    }

    
}

@media(max-width: 480px) {
    .header__info-2 {
        flex-wrap: wrap;
        justify-content: center;
    }
    .images-3{
        width: 100%;
    }
    .header__text{
        margin: 0;
    }
    .info__1{
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
        
    }
    .images-1{
        padding: 73px 43px 47px 60px;

    }
    .images-2{
        padding: 73px 12px 47px 12px;

    }
    .header__poster-link{
        margin-left: 20px;
    }
}