@import 'fonts.css';
@import 'all.min.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --mr: 'M-R';
    --mb: 'M-B';
    --white: #E1E1E1;
    --black: #323232;
    ;
}


/* Header */

.container {
    max-width: 1326px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    padding-top: 50px;

}

.header__nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__nav-1 {
    display: flex;
}

.header__nav-list {
    display: flex;
    column-gap: 40px;
    align-items: center;

}


.header__nav-logo {

    color: #323232;
    font-size: 32px;
    line-height: 23px;
    font-family: 'M-B';
    margin-right: 50px;
    margin-left: 10px;

}

.header__nav-link {

    color: #323232;
    font-size: 18px;
    line-height: 22px;
    font-family: 'M-R';
}


.header__poster-link {

    color: #323232;
    font-size: 18px;
    line-height: 22px;
    font-family: 'M-R';
    margin-left: 40px;

}

.header__li {
    font-size: 20px;

}

.content__end {
    display: block;
    content: '';
    max-width: 1320px;
    width: 100%;
    height: 2px;
    margin-top: 20px;
    background: #323232;
    border-radius: 0.5px;

}



.header__img-box {

    padding-top: 40px;
    padding-bottom: 30px;

}

.info__1 {

    background: #E1E1E1;
    border-radius: 10px;
    filter: drop-shadow(6px 6px 15px rgba(132, 132, 132, 0.3));
    max-width: 538px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    padding: 73px 43px 47px 110px;

}


.info__1::before {
    content: '50%';
    display: inline-block;
    position: absolute;
    top: 3%;
    left: 4%;
    background: #323232;
    border-radius: 10px;
    padding: 11px 38px;
    color: #FFFFFF;
    font-family: 'M-R';
    font-size: 22px;
    line-height: 27px;


}


.title {
    color: #323232;
    font-size: 16px;
    line-height: 20px;
    font-family: 'M-R';
    margin-top: 20px;
    margin-bottom: 20px;
}

.text {
    color: #000000;
    font-size: 16px;
    line-height: 20px;
    font-family: 'M-B';
}

.header__img-box {

    display: flex;
    justify-content: center;
}

.header__info-2 {
    background: #E1E1E1;
    border-radius: 10px;
    filter: drop-shadow(6px 6px 15px rgba(132, 132, 132, 0.3));
    max-width: 746px;
    width: 100%;
    margin-left: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 188px 24px 188px 110px;


}

.images-1 {
    padding-right: 43px;
    padding-left: 21px;
}

.images-3 {
    padding-right: 24px;
}

.header__info-2::before {
    content: '50%';
    display: inline-block;
    position: absolute;
    top: 2%;
    left: 4%;
    background: #323232;
    border-radius: 10px;
    padding: 11px 38px;
    color: #FFFFFF;
    font-family: 'M-R';
    font-size: 22px;
    line-height: 27px;

}

/* header end */

/* main */

.main__title {

    font-size: 30px;
    line-height: 37px;
    font-family: var(--mr);
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 23px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 24px;

}

.main__menu {

    min-height: 485px;
    background: var(--white);
    border-radius: 10px;
    filter: drop-shadow(6px 6px 15px rgba(132, 132, 132, 0.3));
    margin-top: 40px;
    padding-top: 72px;
    padding-bottom: 39px;
    position: relative;

}

.main__img {
    display: block;
    margin: 0 auto 20px auto;
}

.title__menu {
    font-size: 20px;
    font-family: var(--mr);
    line-height: 24px;
    color: #323232;

}

.text__menu {
    font-size: 20px;
    line-height: 24px;
    font-family: var(--mb);
    text-transform: uppercase;
    color: #000000;
}

.main__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.menu__link {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4%;
    right: 4%;

}

.main__links {
    background: #FFFFFF;
    border-radius: 10%;
    padding: 15px;
    color: var(--black);
    margin-bottom: 20px;
    font-size: 20px;
    transition: 0.5s;
}

.main__links:hover {


    background: var(--black);
    color: #FFFFFF;
}

.grid {
    margin-bottom: 60px;
}

.main__title-2 {
    font-size: 30px;
    line-height: 37px;
    font-family: var(--mr);
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 30px;
    margin-top: 60px;
}

.main_boxx {
    background: url(../images/main-img-1.png);
    padding: 110px 110px 60px 64px;
    max-width: 636px;
    width: 100%;
    height: 470px;
    position: relative;


}

.box__title {
    font-size: 22px;
    line-height: 27px;
    font-variant: small-caps;
    color: #FFFFFF;
    font-family: var(--mb);
    max-width: 466px;
    width: 100%;
    margin-bottom: 30px;
}

.box__text {
    font-size: 18px;
    line-height: 22px;
    color: #E1E1E1;
    font-family: var(--mr);
    max-width: 466px;
    width: 100%;
    margin-bottom: 100px;
}

.box__times {
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    font-family: var(--mr);
}

.DISCOUNT {

    display: inline-block;
    position: absolute;
    top: 3%;
    left: 4%;
    background: #323232;
    border-radius: 10px;
    padding: 11px 38px;
    color: #FFFFFF;
    font-family: 'M-R';
    font-size: 22px;
    line-height: 27px;
}


.main_boxx-1 {
    background: url(../images/main-img-2.png);
    padding: 110px 110px 60px 64px;
    max-width: 636px;
    width: 100%;
    position: relative;
}

.main__box-end {
    display: flex;
    column-gap: 24px;
    margin-top: 40px;
    margin-bottom: 60px;
}

.main_boxx::after {
    content: 'Советы';
    display: inline-block;
    position: absolute;
    top: 4%;
    left: 4%;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 13px 30px;
    color: var(--black);
    text-transform: uppercase;
    font-family: var(--mr);
}

.main_boxx-1::before {
    content: 'Советы';
    display: inline-block;
    position: absolute;
    top: 4%;
    left: 4%;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 13px 30px;
    color: var(--black);
    text-transform: uppercase;
    font-family: var(--mr);
}

/* main end */


/* footer */

.footer {
    background: var(--black);
    padding-top: 105px;
    padding-bottom: 82px;
}

.footer__content {
    display: flex;
}

.footer__text {
    font-size: 32px;
    line-height: 23px;
    text-transform: uppercase;
    font-family: var(--mb);
    color: #FFFFFF;
    padding-bottom: 40px;

}

.footer__link {
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-transform: capitalize;
    color: #FFFFFF;
    font-family: var(--mr);
    display: block;
    padding-bottom: 15px;

}

.footer__text-1 {
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: var(--mr);
    padding-bottom: 40px;
}
.adres, .tell, .footer__email {
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-transform: capitalize;
    color: #FFFFFF;
    font-family: var(--mr);
    display: inline-block;
    padding-bottom: 15px;
    padding-right:  10px;
}
.text__1 {
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-transform: capitalize;
    color: #FFFFFF;
    font-family: var(--mr);
    padding-top: 45px;
    padding-bottom: 40px;
}
.footer__price {
    padding-right: 160px;
}
.footer__menu {
    padding-right: 217px;
}
.cet{

   display: flex;
   column-gap: 26px;
    
}